*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 10fr;
}

.admin-menu{
    background-color: rgb(71, 155, 142);
    padding: 15px;
}

.admin-corpo{
    background-color: #cccccc;
    padding: 15px;
    overflow-y: scroll;
}

nav ul{
    padding: 5px;
}

nav ul li{
    list-style: none;
    padding: 6px 10px;
    color: #fff;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #343434;
}

nav ul li a:hover{
    color: #3a3939b9;
}

.admin-logo{
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
}

.admin-logout{
    color: #000000;
    font-size: 1.2rem;
}

.admin-logout i {
    cursor: pointer;
}

.admin-logout i:hover{
    color: #3a3939b9;
}

.grid-professores{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.grid-professores input, .grid-professores select {
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.btn-cadastrar button{
    background-color: #14c414;
    padding: 6px 10px;
    border: 4px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;

}

.div-cep{
    display: flex;
}

.input-cep{
    width: 100% !important;
    border-radius: 4px 0px 0px 4px !important;
    border-right: 0 !important ;
    border: none;
}

.btn-cep{
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#estado{
    width: 100%;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.titulo-principal{
    margin-bottom: 10px;
    border: 2px solid black;
    border-bottom: none;
    padding: 3px 10px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}

.tab-ativo{
    box-shadow: rgb(122, 122, 122) 3px 3px 6px 0px inset, rgba(152, 152, 152, 0.5) -3px -3px 6px 1px inset;
}

#div-listagem{
    display: none;
}

#tabela-listagem table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

#tabela-listagem table td, #tabela-listagem table th{
    border: 1px solid #ddd;
    padding: 8px;
}

#tabela-listagem table tr:nth-child(even){background-color: #f2f2f2;}

#tabela-listagem table tr:hover{background-color: #ddd;}

#tabela-listagem table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(71, 155, 142);
    color: white;
}

.btn-visualizar{
    cursor: pointer;
    padding: 6px 12px;
    background-color: rgb(71, 155, 142);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

